<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout::head"></head>
  <body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container mt-2">
      <h1 th:text="${titulo}"></h1>

      <form
        th:action="@{/form}"
        class="row g-3"
        method="POST"
        th:object="${cliente}"
        enctype="multipart/form-data"
      >
        <!--
        No es necesario cuando se usa el Session
        <input type="hidden" class="form-control" id="txtId" th:field="*{id}" />
        -->
        <div class="col-12">
          <label for="txtNombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="txtNombre"
            placeholder="Ingrese nombre"
            th:field="*{nombre}"
            th:errorclass="'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('nombre')}"
            th:errors="*{nombre}"
          ></div>
        </div>
        <div class="col-12">
          <label for="txtApellido" class="form-label">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="txtApellido"
            placeholder="Ingrese apellido"
            th:field="*{apellido}"
            th:errorclass="'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('apellido')}"
            th:errors="*{apellido}"
          ></div>
        </div>
        <div class="col-12">
          <label for="txtEmail" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="txtEmail"
            placeholder="Ingrese email"
            th:field="*{email}"
            th:errorclass="'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
          ></div>
        </div>
        <div class="col-12">
          <label for="txtFecha" class="form-label">Fecha</label>
          <input
            type="date"
            class="form-control"
            id="txtFecha"
            placeholder="yyyy-MM-dd"
            th:field="*{createdAt}"
            th:errorclass="'is-invalid'"
          />
          <div
            class="invalid-feedback"
            th:if="${#fields.hasErrors('createdAt')}"
            th:errors="*{createdAt}"
          ></div>
        </div>
        <div class="col-12">
          <label for="file" class="form-label">foto</label>
          <input type="file" name="file" class="form-control" id="file">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>

    <div th:replace="layout/layout :: scripts"></div>
  </body>
</html>
